<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zyq.foodtest" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity" >
        </activity>

        <activity
            android:name=".activity.RegisterActivity" >
        </activity>

        <activity
            android:name=".activity.FoodActivity" >
        </activity>

        <activity
            android:name=".activity.OrderActivity" >
        </activity>

        <activity
            android:name=".activity.IndividualActivity" >
        </activity>

    </application>

</manifest>
